{% extends "base.html" %}
{% block content %}
<form style="width: 62%;"> <!--Modify to suit application-->
    <!--Text input-->
    <label for='long_url'>Enter your webiste URL to recieve a short URL:</label>
    <input class="form-control" type='text' id='long_url' name='long_url'><br>
    <!--Submit input-->
    <input class="btn btn-outline-info" type='submit' value='Submit'><br>
</form>
{% if short_url %}
    <div>
        <h3>Here's your URL, take it where ever 🙂</h3>
        <h3>...</h3>
    </div>
{% endif %}
{% endblock %}