{% extends "base.html" %}
{% block content %}
<form style="width: 62%;" method="POST" novalidate> <!--Modify to suit application-->
    {% csrf_token %}
    <!--Text input-->
    <label for='long_url' class="form-label">Enter your webiste URL to recieve a short URL:</label>
    <input class="form-control" type='text' id='long_url' name='long_url'><br>
    <!--Submit input-->
    <button type="button submit" value="submit" class="btn btn-success">Submit</button>
</form>
{% if short_url %}
    <div>
        <h3>Here's your URL, take it where ever 🙂</h3>
        <h3>...</h3>
    </div>
{% endif %}
{% endblock %}